#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.movie_head {
    display: inline;
    font-size: 23px;
    border: 5px;
    width: 100%;
    padding-right: 1265px;
    margin-bottom: 150px;
}
.ganith1 {
    border-radius: 275px;
}
.modal-content {
    margin-top: 170px;
}
.modal-title {
    font-size:20px; 
}